/**** Main Styles for 2021/2022 Red Wings site ****/


/* Standard Colors */

/* Red Wings color scheme */
/* #383838 - puck          rgb(51,51,51)
   #D2D2D2 - grey          rgb(210,210,210)
   #c8102e - WingsRed      rgb(200,16,46)
   #7251AA - RallyAl       rgb(114,81,170)
   #003D7D - LeafsBlue     rgb(0,61,125)
   #718DD0 - blueline      rgb(113, 141, 208)
   #C0C0C0 - stanley       rgb(192, 192, 192)
   */

:root {
  --puck: #383838;
  --puck-rgb: rgba(51,51,51,.2);
  --grey: #d2d2d2;
  --ice: #f0f6fc;

  --WingsRed: #c8102e;
  --WingsRed-rgb: rgba(200,16,46,.2);
  --RallyAl: #7251aa;
  --RallyAl-rgb: rgba(114,81,179,.2);
  --LeafsBlue: #003d7d;

  --blueline: #7a8dd0;
  --blueline-rgb: rgba(113,141,208,.2);
  --stanley: #c0c0c0;
}

/* icon and link back to itineranttau.com */
#home {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 11;
}

#home img {
    width: 20px;
    height: auto;
    filter: invert(100%);
}


/* basic html styles for pages */

*, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  width: 100vw;
  background: #383838;
  background: var(--puck);
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #383838;
  color: var(--puck);
  padding-left: 15px;
}

a {text-decoration: none;}
a:link {color: #7a8dd0; color: var(--blueline);}
a:visited {color: #7251aa; color: var(--RallyAl);}
a:hover {color: #c8102e; color: var(--WingsRed);}
a:active {color: #c0c0c0; color: var(--stanley);}

.det {color: #c8102e; color: var(--WingsRed);}
.tor {color: #003d7d; color: var(--LeafsBlue);}
.det, .tor {font-weight: bold;}

.win {text-shadow: 1px 1px 2px #c0c0c0; text-shadow: 1px 1px 2px var(--stanley);}
.win::before {content: 'W: ';}
.loss {opacity: 0.75;}
.loss::before {content: 'L: ';}
.otl {opacity: 0.85;}
.otl::before {content: 'O: ';}


/* content holder */
.wrapper {
  width: 90vw;
  max-width: 1200px;
  background: #f0f6fc;
  background: var(--ice);
  margin: 20px auto;
  padding: 20px 0 0 0;
}


/* header styles */
header {
  width: 95%;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 5vw;
  padding: 4vw 0;
  text-align: center;
}

header h1 {
  color: white;
  background: linear-gradient(to bottom, #383838, #f0f6fc);
  background: linear-gradient(to bottom, var(--puck) 33%, var(--ice));
  font-size: 14vw;
  padding: 0 10px;
  width: 95%;
}

section#team {
  width: 95%;
}

#team h2, #team h3 {
  font-size: 24vw;
  letter-spacing: -3px;
  text-align: center;
  color: #c8102e;
  color: var(--WingsRed);
  padding: 0;
}

#team h3 {
  font-size: 15vw;
}


/* main content styles */
main {
  align-self: center;
  width: 100%;
  grid-column: 1 / -1;
  margin: 10px;
}

section {
  margin-bottom: 20px;
}

article {
  padding: 10px;
}

figure {
  text-align: center;
  padding: 10px;
}

figure img {
  max-width: 90vw;
}

figcaption {
  font-size: smaller;
  color: #383838;
  color: var(--puck);
}

.alert_box {
  width: 90%;
  margin: 20px auto;
  background: var(--WingsRed-rgb);
  border: 3px solid var(--WingsRed);
  color: var(--WingsRed);
  text-align: center;
  transform: skew(-15deg);
}

/* table styles */

table {
  border-collapse: collapse;
  width: 90%;
  max-width: 925px;
  margin: auto;
}

table, th, td {
  border-bottom: 1px solid #383838;
  border-bottom: 1px solid var(--puck);
  padding: 5px;
  text-align: center;
}

th { 
  background: #383838;
  background: var(--puck);
  color: #f0f6fc;
  color: var(--ice);
  border-bottom: 3px solid #718DD0;
  border-bottom: 3px solid var(--blueline);
}

/* special styling for the Wings and Leafs - becuase I can */

tr#det {
  background: #c8102e;
  background: var(--WingsRed);
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 0 #383838;
  text-shadow: 1px 1px 0 var(--puck);
}

tr#tor {
  background: #003d7d;
  background: var(--LeafsBlue);
  color: white;
}

tr.stanley {
  background: #c0c0c0;
  background: var(--stanley);
  color: #383838;
  color: var(--puck);
  text-shadow: 0 0 1px #B8860B;
  font-size: 1.2rem;
  font-weight: bold;
}

tr.stanley td:first-child::before {
  content: 'Stanley Cup >> ';
 }

tr.win::before, div.win::before,
tr.loss::before, div.loss::before,
tr.otl::before, div.otl::before {
  content: none;
}

tr.pre {
  background: var(--RallyAl-rgb);
}

tr:hover {
  background: rgba(113,141,208,.2);
  background: var(--blueline-rgb);
  border-top: 2px solid #7a8dd0;
  border-bottom: 2px solid #7a8dd0;
  border-top: 2px solid var(--blueline);
  border-bottom: 2px solid var(--blueline);
}


/* navigation styles */
.mainnav {
  grid-column: 1 / -1;
  justify-self: center;
  margin: 25px 0;
  background: linear-gradient(to top, #383838, #f0f6fc);
  background: linear-gradient(to top, var(--puck), var(--ice) 10%);
}

.mainnav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.mainnav li {
  transform: skew(-15deg);
  border: 4px solid #383838;
  border: 4px solid var(--puck);
  border-bottom: none;
  padding: 10px 7px;
  margin-right: 5px;
  text-align: right;
}

.mainnav a {
  color: #383838;
  color: var(--puck);
  display: block;
}

.mainnav li:hover,
.mainnav li:focus {
  background: radial-gradient(#f0f6fc 60%, #7a8dd0);
  background: radial-gradient(var(--ice) 60%,var(--blueline));
}

.mainnav .active {
  background: linear-gradient(to top, #383838, #c0c0c0 20%);
  background: linear-gradient(to top, var(--puck), var(--stanley) 20%);;
}


/* footer styles */
footer {
  background: #383838;
  background: var(--puck);
  grid-column: 1 / -1;
  width: 100%;
  padding: 20px 0;
}

#RW_mainsite {
  background: #c8102e;
  background: var(--WingsRed);
  padding: 10px;
  text-align: center;
  margin: 10px auto;
}

#RW_mainsite a,
#RW_mainsite a:visited {
  color: #f0f6fc;
  color: var(--ice);
}

#RW_mainsite a:hover {
  color: #7251aa;
  color: var(--RallyAl);
}

#contact_info {
  background: #d2d2d2;
  background: var(--grey);
  transform: skew(-15deg);
  padding: 10px;
  text-align: right;
  height: min-content;
  width: 75%;
  margin: auto;
  font-size: smaller;
  color: #383838;
  color: var(--puck);
}

#contact_info a,
#contact_info a:visited {
  color: #003d7d;
  color: var(--LeafsBlue);
}

#contact_info a:hover {
  color: #c8102e;
  color: var(--WingsRed);
}


/* styles for non-phone pages */
@media screen and (min-width: 600px) {
  header {
    flex-direction: row;
  }
  header h1 {
    font-size: 7vw;
  }
  #team h2 {
    font-size: 10vw;
  }
  #team h3 {
    font-size: 6vw;
  }
  main {
    grid-column: 1 / -2;
  }
  .mainnav {
    width: 100%;
  }
  .mainnav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-around;
    padding: 0 3vw;
  }
  .mainnav ul li{
    width: initial;
  }
  th:nth-child(1),
  td:nth-child(1),
  th:nth-child(5), /* colspan:2 */
  td:nth-child(6) {
    display: table-cell;
  }
  .twoColumn {
    column-count: 2;
    padding: 10px;
  }
  figure img {
    max-width: 40vw;
  }
  footer {
    display: flex;
    justify-content: space-around;
  }
  #RW_mainsite {
    width: 250px;
  }
  #contact_info {
    width: 250px;
  }
}
